@page "/Login"
@layout EmptyLayout

@inject NavigationManager NavigationManager

@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=5.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Header with Icons</title>
</head>
<body>
    <header>
        <div class="header-icons">
            <div class="fas fa-icon far-left-icon1">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
                <ul class="menu__box">
                    <li><a class="menu__item">Service Member</a></li>
                    <li><a class="menu__item">DODAAC</a></li>
                </ul>
            </div>
            <div class="fas fa-icon far-left-icon2">
                <button class="NotificationBadge">
                    <img src="Images/Cart.jpg" width="25" height="30" />
                </button>
            </div>
        </div>
        <div class="header-middle">
            <div class="fas fa-icon middle-icon">
                <button class="menu-icon">
                    <img src="Images/Home.jpg" width="25" height="25" />
                </button>
            </div>
        </div>
        <div class="header-icons">
            <i class="fas fa-icon far-right-icon1">
                <button class="NotificationBadge" data-badge="1">
                    <img src="Images/NotificationBell.jpg" width="25" height="30" />
                </button>
            </i>
            <i class="fas fa-icon far-right-icon2">
                <button class="NotificationBadge" data-badge="1">
                    <img src="Images/NotificationBell.jpg" width="25" height="30" />
                </button>
            </i>
            <i class="fas fa-icon far-right-icon3">
                <div class="user-profile">
                    <span>Place Holder!</span>
                </div>
            </i>
        </div>
    </header>
</body>
</html> *@




<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <div class="header-icons">
            <div class="fas fa-icon far-left-icon1">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
                <ul class="menu__box">
                    <li><a class="menu__item">Service Member</a></li>
                    <li><a class="menu__item">DODAAC</a></li>
                </ul>
            </div>
            <div class="fas fa-icon far-left-icon2">
                <div class="menu-icon" style="margin-left: 25px; cursor: pointer;">
                    <img src="Images/whitehome.jpg" width="30" height="30" />
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="fas fa-icon middle-icon" style="margin-left: 170px;">
                <TelerikFontIcon Icon="@FontIcon.Search" />
                <TelerikTextBox Placeholder="Search products..."
                                Rounded="@Rounded"
                                FillMode="@FillMode"
                                Width="450px">
                </TelerikTextBox>
            </div>
        </div>
        <div class="header-icons">
            <div class="fas fa-icon far-right-icon1">
                <div class="NotificationBadge" data-badge="1" style="margin-right: 10px; cursor: pointer;">
                    <img src="Images/whitebelltest.png" width="30" height="30" />
                </div>
            </div>
            <div class="fas fa-icon far-right-icon2" style="margin-right: 10px; cursor: pointer;">
                <div class="user-profile">
                    <span>Place Holder!</span>
                </div>
            </div>
            <div class="fas fa-icon far-right-icon3" style="margin-left: 15px; cursor: pointer;">
                <div class="NotificationBadge" style="padding-bottom: 3px;">
                    <img src="Images/whiteshoppingcart.jpg" width="30" height="35" />
                </div>
            </div>
        </div>
    </header>
</body>
</html>


<br />


<div class="hamburger-menu">
</div>

<div class="Flex-ContainerForSearchContactUS">
    <div class="ContactUsInFlexContainer">
        <div class="pointer-style">
            <img src="Images/ContactUs.jpg" width="15" height="15" />
            <span>Contact Us</span>
        </div>
    </div>
</div>

<br />

@*
<div class="center-container">
    <h3>Login</h3>
</div>
 *@
<body>
    <div class="center-container">
        <div class="input-box">
            <input type="text" id="typed-text" placeholder=" ">
        </div>
    </div>
</body>

<div class="center-container">
    <p roll>  Username  </p>
</div>


<body>
    <div class="center-container">
        <div class="input-box">
            <input type="text" id="typed-text" placeholder=" ">
        </div>
    </div>
</body>

<div class="center-container">
    <p roll>  Password  </p>
</div>

<div class="center-container">
    <button class="btn btn-primary" style="background-color: darkblue;" @onclick="PostLoginPage">Login</button>
</div>
<br />

<div class="center-container">
    <button class="btn btn-primary" style="background-color: darkblue;" @onclick="ReturnToHomePage">Return Home</button>
</div>
<br />


<style>

    body {
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: darkblue;
        color: #fff;
        padding: 10px;
    }

    .header-icons, .header-middle {
        display: flex;
        align-items: center;
    }

    .fa-icon {
        font-size: 24px;
        margin: 0 10px;
    }

    .far-left-icon1, .far-left-icon2 {
        order: 1;
    }

    .middle-icon {
        order: 2;
    }

    .far-right-icon1, .far-right-icon2, .far-right-icon3 {
        order: 3;
    }

    .center-container {
        display: flex;
        justify-content: center; /* Horizontal centering */
        align-items: center; /* Vertical centering */
    }
    /* enable absolute position for the icon */
    .tb-icon-container {
        position: relative;
    }

        /* position icon over textbox */
        .tb-icon-container .k-icon {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0.5em;
        }

        /* add space to textbox without floating label */
        .tb-icon-container .k-textbox input,
        /* add space to floating label over the textbox */
        .k-floating-label-container.k-empty:not(.k-focus) .k-label {
            padding-left: 2em;
        }

        /* icon with floating label */
        .tb-icon-container.with-label .k-icon {
            top: 0.7em;
        }

    /* Reset some default styles */
    body, ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .TopOfScreenHeader {
        background-color: blue;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .menu-icon {
        font-size: 24px;
        cursor: pointer;
    }

    .navbar ul {
        display: flex;
        list-style-type: none;
    }

    .navbar li {
        margin-right: 20px;
    }

    .user-profile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

        .user-profile span {
            font-weight: bold;
        }

    .pointer-style {
        cursor: pointer;
    }

    .Flex-ContainerForSearchContactUS {
        display: flex;
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center horizontally */
        padding-bottom: 15px;
    }

    .SearchBarInFlexContainer {
        margin-right: auto; /* Push to the left */
        padding-left: 31%;
    }

    .ContactUsInFlexContainer {
        margin-left: auto; /* Push to the right */
        padding-right: 20%;
    }

    .service-member-container {
        display: flex;
        flex-wrap: wrap; /* Enable wrapping of boxes */
    }

    .box {
        padding: 10px;
        margin: 5px;
        display: flex; /* Add this to make content flow horizontally */
        align-items: center; /* Optional: Center content vertically within each box */
        flex-basis: 50%; /* Set the initial width for two boxes per row */
        box-sizing: border-box;
    }

    .circle {
        width: 20px;
        height: 20px;
        background-color: grey;
        border-radius: 50%; /* This makes it a circle */
        transition: background-color 0.3s; /* Adds a smooth transition effect */
        margin-right: 10px
    }

    .ItemAvailable {
        background-color: lawngreen; /* Change to your desired highlighting color */
    }

    .ItemBackordered {
        background-color: red; /* Change to your desired highlighting color */
    }

    .flex-container {
        display: flex;
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center horizontally */
    }

    .left-div {
        float: left;
        width: 10%; /* Adjust the width as needed */
    }

    .right-div {
        float: right;
        display: flex;
        flex-wrap: wrap;
        width: 85%; /* Adjust the width as needed */
    }

    .left-item2 {
        margin-right: auto; /* Push to the left */
        padding-left: 31%;
    }

    .right-item2 {
        margin-left: auto; /* Push to the right */
        padding-right: 20%;
    }

    .DetailPageParent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 35px;
    }

    .DetailPageBreadcrumbs {
        grid-area: 1 / 1 / 2 / 2;
        padding-bottom: 25px;
        padding-left: 10%;
    }

    .DetailPageImage {
        grid-area: 2 / 1 / 3 / 2;
        padding-left: 50%;
        padding-bottom: 50px;
        width: 10px;
        height: 10px;
    }

    /* blank for spacing of leftside but assigns column location */
    .DetailPagePlaceholder {
        grid-area: 3 / 1 / 4 / 2;
    }

    .DetailPagePlaceholder2 {
        grid-area: 4 / 1 / 5 / 2;
    }


    .DetailPageItemName {
        grid-area: 5 / 1 / 6 / 2;
        padding-bottom: 25px;
        padding-left: 10%;
    }

    .DetailPageCardDescription {
        grid-area: 6 / 1 / 7 / 2;
        padding-bottom: 25px;
        padding-left: 10%;
        padding-top: 0%;
    }

    .DetailPageCardDescriptionTwo {
        grid-area: 7 / 1 / 8 / 2;
        padding-bottom: 25px;
        padding-left: 10%;
        padding-top: 0%;
    }

    .DetailPageNSNLookup {
        grid-area: 8 / 1 / 9 / 2;
        padding-bottom: 25px;
        padding-left: 10%;
        padding-top: 0%;
    }

    .DetailPageColorButtons {
        grid-area: 1 / 2 / 2 / 3;
        padding-bottom: 25px;
    }

    .DetailPageSizeButtons {
        grid-area: 2 / 2 / 3 / 3;
        padding-bottom: 25px;
    }

    .DetailPageQuantity {
        grid-area: 3 / 2 / 4 / 3;
        padding-bottom: 25px;
    }

    .DetailPageServiceMember {
        grid-area: 4 / 2 / 5 / 3;
        padding-bottom: 25px;
    }

    .DetailPagePrice {
        grid-area: 5 / 2 / 6 / 3;
        padding-bottom: 25px;
    }

    .DetailPageAddtoOrderButton {
        grid-area: 6 / 2 / 7 / 3;
        padding-bottom: 25px;
    }

    .DetailPageAvailableCircle {
        grid-area: 7 / 2 / 8 / 3;
        padding-bottom: 25px;
    }

    .DetailPageBackorderdCircle {
        grid-area: 8 / 2 / 9 / 3;
        padding-bottom: 25px;
    }

    .detailbox {
        display: flex; /* Add this to make content flow horizontally */
        flex-wrap: wrap;
    }

    .detailcontainer {
        /* blank for additonal styling to container on details page */
    }




    /*HAMBURGER ICON STYLE*/


    #menu__toggle {
        opacity: 0;
    }

        #menu__toggle:checked + .menu__btn > span {
            transform: rotate(45deg);
        }

            #menu__toggle:checked + .menu__btn > span::before {
                top: 0;
                transform: rotate(0deg);
            }

            #menu__toggle:checked + .menu__btn > span::after {
                top: 0;
                transform: rotate(90deg);
            }

        #menu__toggle:checked ~ .menu__box {
            left: 0 !important;
        }

    .menu__btn {
        position: absolute;
        top: 48px;
        left: 50px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 10001;
    }

        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;
            transition-duration: .25s;
        }

            .menu__btn > span::before {
                content: '';
                top: -8px;
            }

            .menu__btn > span::after {
                content: '';
                top: 8px;
            }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 10000;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
        z-index: 10000;
    }

        .menu__item:hover {
            background-color: #CFD8DC;
        }




    /*NOTIFICATION NUMBER ICON BADGE*/

    .NotificationBadge {
        position: relative;
    }

        .NotificationBadge[data-badge]:after {
            content: attr(data-badge);
            position: absolute;
            top: -10px;
            right: -10px;
            font-size: .7em;
            background: white;
            color: black;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            border-radius: 50%;
            box-shadow: 0 0 1px #333;
        }



    .CartComponentcontainer {
        display: flex;
        justify-content: space-between;
    }

    .MyTelerikNotification .k-notification-container .k-notification {
        width: 300px;
        height: 100px;
        font-size: 1.5em;
        text-align: center;
        align-items: center;
    }

    /* Style for the main container */
    .main-container {
        display: flex;
        align-items: flex-start; /* Align vertically to the top */
        justify-content: flex-start; /* Align horizontally to the start (left) */
    }

    /* Style for the left div (takes up far left) */
    .left-div {
        flex: 0 0 auto; /* Does not grow or shrink */
        width: 20%; /* Adjust the width as needed */
        padding: 10px;
    }

    /* Style for the right div (contains the vertical divs) */
    .right-div {
        flex: 0 0 auto; /* Does not grow or shrink */
        width: 30%; /* Adjust the width as needed */
        display: flex;
        flex-direction: column; /* Arrange child divs vertically */
    }

    /* Style for the vertical divs to the right */
    .right-subdiv {
        padding: 10px;
        margin: 5px; /* Add spacing between vertical divs */
    }

    .additional-subdiv {
        flex: 0 0 auto; /* Does not grow or shrink */
        width: 10%; /* Adjust the width as needed */
        padding: 10px;
        margin: 5px; /* Add spacing between the additional div and the right-subdivs */
    }

    .below-additional {
        padding: 10px;
        margin: 5px;
        width: 20%; /* Adjust the width as needed */
    }

    .footer-content {
        display: flex;
        justify-content: flex-end; /* Align to the left */
        width: 80%; /* 75% of the card width */
    }

    .flex-footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .flex-footeritem {
        margin-left: 10px;
    }

    .cartflex-container {
        display: flex;
        justify-content: flex-start;
    }

    .cartleft-div {
        flex: 0 0 auto; /* This makes the div not grow or shrink */
        padding: 10px;
        margin-right: 10px; /* Add spacing between the left divs */
        width: 50%; /* Adjust this value to control the width of the right div */
    }

    .cartright-div {
        flex: 0 0 auto; /* This makes the div not grow or shrink */
        width: 50%; /* Adjust this value to control the width of the right div */
        padding: 10px;
        padding-left: 10%;
    }


    .cartcontentflex-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center horizontally */
        justify-content: center; /* Center vertically */
    }

    .shoppingcartandfiltercontainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filter {
        margin-left: 20px; /* Adjust the margin to move the right div */
        padding: 20px;
    }
</style>

@code {
    // Search products text box properties
    public string Rounded { get; set; } = ThemeConstants.TextBox.Rounded.Full;
    public string FillMode { get; set; } = ThemeConstants.TextBox.FillMode.Solid;

    public void PostLoginPage()
    {
        NavigationManager.NavigateTo("/AfterLogin");
    }

    public void ReturnToHomePage()
    {
        NavigationManager.NavigateTo("/");
    }
}
